.navbar-nav {
    width: 24rem;
    justify-content: space-between;
}

.nav-link {
   --bs-nav-link-font-size: 17px;
}
.btn {
    margin: 12px;
    border-radius: 5.952px;
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 0.87rem;
}
.btn-success {
        --bs-btn-bg: #75BF7A;
        border-color: transparent;
    }
.navbar {
     padding-left: 50px;
     padding-top: 4rem;
      padding-bottom: 2.4rem;
}
form {
    background: #75BF7A;
    border-radius: 6px;
}
.card {
    background-color: #f9f9f9;
}
.center {
    position: relative;
    background-color: #f9f9f9;
}
.phone {
    position: absolute;
    top: 0px;
    left: 95px;
}
.colorwhite {
    background-color: white;
}
.greenbol {
    max-height: none;
    width: 369px;
}
/* @media (min-width: 576px) {
    .navbar-expand-lg .navbar-nav {
    flex-direction: row;
   }
} */